# Build artifacts
**/bin/
**/obj/
**/x64/
**/Debug/
**/Release/
**/.vs/
*.tlog
*.obj
*.pdb
*.ilk
*.ipch
*.iobj
*.idb
*.pch
*.res
*.exp
*.sdf
*.suo
*.user
*.aps
*.VC.db
*.VC.opendb
*.opendb
*.dbg
*.bsc
*.sbr
*.exe
*.lib
*.dll
*.log

# C# / .NET practice projects (kept on disk, not part of this C++ repo)
/ConsoleApp*/
/practise*/
/pratice*/
/projectCollections/
/ConsoleApplication6/